.fb-follow, .fb-follow span, .fb-follow span iframe[style] { width: 100% !important; }
.fb-like-box, .fb-like-box span, .fb-like-box span iframe[style] { width: 100% !important; }
.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}
.fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
width: 100% !important;
}
