.post-title{
  font-size: 25px;
}

.post-metadata{
  font-size: 14px;
  font-weight: lighter;
  padding-top: 5px;
  padding-bottom: 10px;
}

.post-list{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.post-list-header{
  font-size: 22px;
}

.post-list-date{
  padding-left: 20px;
}

#post-related-list{
  padding-left: 50px;
}

.body-post{
  margin: 10px;
  padding: 10px;
  text-align: justify;
}

.icon-title{
  font-size: 40px;
}

.icon-metadata{
  font-size:20px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 75px 0 125px; /* bottom = footer height */
}

footer {
  background-color: #f8f8f8;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 125px;
  width: 100%;
}

footer .footer-content{
  padding-top: 10px;
}

footer #footer-linked{
  font-size: 20px;
  font-style: normal;
}

footer #footer-linked a{
  color: gray;
  text-shadow: 2px 1px darkgray;
}

#footer-sponsored{
  font-weight: bold;
  text-shadow: 2px 1px darkgray;
}

#footer-copy{
  font-weight: bold;
  text-shadow: 1px 1px darkgray;
}

.hosted{
  font-size: 50px;
}

.output{
  position: relative;
  height: 400px;
  overflow: scroll;
}

pre {
  font-size: 14px;
}

.center-image{
  margin: 0 auto;
  display: block;
}

.fb-comments, .fb-comments iframe[style], .fb-like-box, .fb-like-box iframe[style] {width: 100% !important;}
.fb-comments span, .fb-comments iframe span[style], .fb-like-box span, .fb-like-box iframe span[style] {width: 100% !important;}
