body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.center-image{
  margin: 0 auto;
  display: block;
}

#content{
  border-left: 1px solid lightgray;
}

.post-content li{
  list-style: inside;
  list-style-position: inside;
}

#page-icon-header,.link-icon{
  font-size: 50px;
}

pre{
  font-size: 16px;
  padding: 10px;
  margin: 10px;
}

figure pre{
  border-radius: 5px;
  border: 0.5px solid lightgray;
}

h1{
  font-size: 35px;
}

h2{
  font-size: 30px;
}

h3{
  font-size: 28px;
}

#logo-hosted, #text-hosted{
  text-shadow: 1px 1px darkgray;
}

#arsip, #post-related-list, #post-related-list {
    border: none;
    border-radius: 0px;
    margin: 0.5rem 0 1rem;
    overflow: hidden;
    position: relative;
}

.collection-header{
  padding-top: 15px;
}

.side-nav, .shares{
  padding: 10px;
}
