---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
  <section id="article-body">
    <div class="post-title center">
      <h2>
        {% if page.language %}
          {% for icon in site.data.devicon %}
            {% if icon.name == page.language %}
              {% assign versions = icon.versions %}
              <i class="devicon-{{ icon.name }}-{{ versions.font[0] }} colored icon-title"></i>
              {{ break }}
            {% endif %}
          {% endfor %}
        {% else %}
          <i class="fa fa-pencil icon-title text-warning"></i>
        {% endif %}
        {{ page.title }}
      </h2>
    </div>
    <div class="post-metadata">
      <small>
        <span class="fa fa-calendar-o text-primary"></span>
        <time datetime="{{ page.date | date_to_xmlschema }}"
          itemprop="datePublished">{{ page.date | date: "%Y, %b %-d" }}
        </time>
        {% if page.author %}•
        <span itemprop="author"  itemscope itemtype="http://schema.org/Person">
          <i class="fa fa-user text-primary"></i> <span itemprop="name">{{ page.author }}</span>
        </span>
        {% endif %}
      </small>
    </div>
    <div class="post-content">
      {{ content }}
    </div>
    <div class="divider"></div>
    <div class="tags">
      {% for tag in page.tags %}
        <div class="chip">
          <i class="fa fa-tag"></i>
          {{ tag }}
        </div>
      {% endfor %}
    </div>
    {% if page.references %}
    <div class="divider"></div>
    <div class="references">
      <ul id="post-related-list" class="collection with-header">
        <li class="collection-header">
          <i class="material-icons">link</i>
          Referensi
        </li>
        {% for ref in page.references %}
          <li class="collection-item">
            <a href="{{ ref }}">
              <small>
                {{ ref }}
              </small>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    <div class="divider"></div>
    <div class="social">
      <div class="fb-like"
        data-share="true"
        data-show-faces="true">
      </div>
      {% if page.comments %}
      <div>
        <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-num-posts="10"></div>
      </div>
      {% endif %}
    </div>
    <div class="divider"></div>
    <div class="related-post">
      <ul id="post-related-list" class="collection with-header">
        <li class="collection-header">
          <i class="material-icons">book</i>
          Artikel terkait
        </li>
        {% for post in site.related_posts limit:5 %}
          <li class="collection-item">
            <a href="{{ post.url }}">
              <small>
                {{ post.title }}
              </small>
              <span class="badge">{{ post.date | date: "%Y, %b %d"}}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  {% if page.repository %}
  <div class="fixed-action-btn vertical click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="material-icons">file_download</i>
    </a>
    <ul>
      <li>
        <a class="btn-floating red waves-effect waves-light btn tooltipped"
          title="View source code" href="{{ page.repository }}" target="_blank"
          data-position="left" data-delay="50" data-tooltip="Lihat source code di {{ page.repository }}">
            <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <a id="copyboard" class="btn-floating yellow darken-1 waves-effect waves-light btn tooltipped" title="Copy to clipboard"
          data-clipboard-text="git clone {{ page.repository }}" alt="Copy to clipboard"
          data-position="left" data-delay="50" data-tooltip="Copy to clipboard 'git clone {{ page.repository }}'">
          <i class="fa fa-clipboard"></i>
        </a>
      </li>
    </ul>
  </div>
  {% endif %}
</article>
