<div>
  <p class="text-muted small">
    <span class="fa fa-calendar-o text-primary"></span>
    <time datetime="{{ page.date | date_to_xmlschema }}"
      itemprop="datePublished">{{ page.date | date: "%Y, %b %-d" }}
    </time>
    {% if page.author %}•
      <span itemprop="author"  itemscope itemtype="http://schema.org/Person">
        <i class="fa fa-user text-primary"></i> <span itemprop="name">{{ page.author }}</span>
      </span>
    {% endif %}
  </p>  
  {% if page.repository %}
  <div class="downloads">
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Pilih aksi <span class="fa fa-chevron-down"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="{{ page.repository }}" target="_blank"><span class="fa fa-download"></span> Kunjugin Home Page</a>
          </li>
          <li>
            <div role="separator" class="dropdown-divider"></div>
          </li>
          <li class="disabled">
            <a id="copy-button" class="dropdown-item"><span class="fa fa-clipboard"></span> Salin ke CMD / Terminal</a>
          </li>
        </ul>
      </span>
      <input type="text" id="src_clipboard" class="form-control" name="src_input" value="git clone {{ page.repository }}" readonly="true"></input>
    </div>
  </div>
  {% endif %}
</div>
