<section id="article-header">
  <header>
    <div>
      <h3 class="text-center" itemprop="name headline">
        {% if page.language %}
          {% for icon in site.data.devicon %}
            {% if icon.name == page.language %}
              {% assign versions = icon.versions %}
              <i class="devicon-{{ icon.name }}-{{ versions.font[0] }} colored icon-title"></i>
              {{ break; }}
            {% endif %}
          {% endfor %}
        {% else %}
          <i class="fa fa-pencil icon-title text-warning"></i>
        {% endif %}
        {{ page.title }}
      </h3>
    </div>
  </header>
</section>
