<div class="navbar-fixed hide-on-large-only">
  <nav>
    <div class="nav-wrapper">
      <a href="{{ site.baseurl }}/" class="brand-logo">
        <i class="material-icons blue">code</i>
        Blog
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav black-text" id="mobile-demo">
        <div id="profile">
          <p class="flow-text">{{ site.data.profile.status }}</p>
          <img id="picture_profile" src="/static/img/profile.png" alt=""
            class="responsive-img z-depth-5 circle center-image" width="100" height="100"/>
          <h3 class="center">{{ site.data.profile.nama }}</h3>
          <div class="divider"></div>
        </div>
        <li><a href="{{ site.baseurl }}/halaman/arsip/" target="_self">Arsip</a></li>
        {% for page in site.pages %}
          {% if page.title and page.active %}
          <li>
            <a href="{{ page.url }}" target="_self">
              {{ page.title }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
        <li><a href="http://personal.dimmaryanto93.com" target="_blank">Daftar Riwayat Hidup</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul id="desktop" class="side-nav">
  <div class="userView">
    <img src="/static/img/banner-bg.jpg" class="background" />
    <img class="circle" src="/static/img/profile.png">
    <span class="name white-text">{{ site.data.profile.nama }}</span>
    <a href="mailto:{{ site.data.profile.email }}"><span class="email white-text">{{ site.data.profile.email }}</span></a>
  </div>
  <li><a class="subheader">Java &amp; Mobile</a></li>
  <hr>
  {% assign sorted_pages = (site.pages | sort: 'order_list') %}
  {% for halaman in sorted_pages) %}
    {% if halaman.page_category == "desktop" and halaman.active %}
      <li>
        <a href="{{ halaman.url }}">
          <i class="{{ halaman.icon }} colored left flow-text"></i>
          {{ halaman.title }}
          {% if halaman.new %}
            <span class="new badge"></span>
          {% endif %}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<ul id="web" class="side-nav">
  <div class="userView">
    <img src="/static/img/banner-bg.jpg" class="background" />
    <img class="circle" src="/static/img/profile.png">
    <span class="name white-text">{{ site.data.profile.nama }}</span>
    <a href="mailto:{{ site.data.profile.email }}"><span class="email white-text">{{ site.data.profile.email }}</span></a>
  </div>
  <li><a class="subheader">Web</a></li>
  <hr>
  {% assign sorted_pages = (site.pages | sort: 'order_list') %}
  {% for halaman in sorted_pages) %}
    {% if halaman.page_category == "web" and halaman.active %}
      <li>
        <a href="{{ halaman.url }}">
          <i class="{{ halaman.icon }} colored left flow-text"></i>
          {{ halaman.title }}
          {% if halaman.new %}
            <span class="new badge"></span>
          {% endif %}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<ul id="framework" class="side-nav">
  <div class="userView">
    <img src="/static/img/banner-bg.jpg" class="background" />
    <img class="circle" src="/static/img/profile.png">
    <span class="name white-text">{{ site.data.profile.nama }}</span>
    <a href="mailto:{{ site.data.profile.email }}"><span class="email white-text">{{ site.data.profile.email }}</span></a>
  </div>
  <li><a class="subheader">Framework</a></li>
  <hr>
  {% assign sorted_pages = (site.pages | sort: 'order_list') %}
  {% for halaman in sorted_pages) %}
    {% if halaman.page_category == "framework" and halaman.active %}
      <li>
        <a href="{{ halaman.url }}">
          <i class="{{ halaman.icon }} colored left flow-text"></i>
          {{ halaman.title }}
          {% if halaman.new %}
            <span class="new badge"></span>
          {% endif %}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<ul id="other" class="side-nav">
  <div class="userView">
    <img src="/static/img/banner-bg.jpg" class="background" />
    <img class="circle" src="/static/img/profile.png">
    <span class="name white-text">{{ site.data.profile.nama }}</span>
    <a href="mailto:{{ site.data.profile.email }}"><span class="email white-text">{{ site.data.profile.email }}</span></a>
  </div>
  <li><a class="subheader">Lain-Lain</a></li>
  <hr>
  {% assign sorted_pages = (site.pages | sort: 'order_list') %}
  {% for halaman in sorted_pages) %}
    {% if halaman.page_category == "other" and halaman.active %}
      <li>
        <a href="{{ halaman.url }}">
          <i class="{{ halaman.icon }} colored left flow-text"></i>
          {{ halaman.title }}
          {% if halaman.new %}
            <span class="new badge"></span>
          {% endif %}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
