<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="{{ site.baseurl }}/" class="brand-logo">
        <i class="material-icons blue">code</i>
        Blog
      </a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="{{ site.baseurl }}/halaman/arsip/">Arsip</a>
        </li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="java-core">JavaSE <small>(Standar Edition)</small></a>
        </li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="java-web">JavaEE <small>(Enterprice Edition)</small></a>
        </li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="framework">Java Framework</a>
        </li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="db">DBMS <small>(Database Management System)</small></a>
        </li>
        <li>
          <a class="dropdown-button" href="#!" data-activates="other-link"><i class="material-icons right">more_vert</i>Halaman Lain <small>(Tips, Trick &amp; Basic Programming)</small></a>
        </li>
      </ul>
      <ul class="side-nav black-text" id="mobile-demo">
        <div id="profile">
          <p class="flow-text">{{ site.data.profile.status }}</p>
          <img id="picture_profile" src="/static/img/profile.png" alt=""
            class="responsive-img z-depth-5 circle center-image" width="100" height="100"/>
          <h3 class="center">{{ site.data.profile.nama }}</h3>
          <div>
            <div>
              <ul id="list-button-follow">
                <li>
                  <div class="fb-follow" data-href="https://www.facebook.com/dimmaryanto93" data-layout="standard"
                    data-size="large" data-show-faces="true">
                  </div>
                </li>
                <li>
                  <a href="https://twitter.com/dimMaryanto93" class="twitter-follow-button"
                    data-size="large" data-lang="id" data-show-count="true">
                      Follow @dimMaryanto93
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="divider"></div>
        </div>
        {% for page in site.pages %}
          {% if page.title %}
          <li>
            <a href="{{ page.url }}" target="_self">{{ page.title }}</a>
          </li>
          {% endif %}
        {% endfor %}
        <li><a href="http://personal.dimmaryanto93.com" target="_blank">Daftar Riwayat Hidup</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul id="java-core" class="dropdown-content">
  <li><a href="{{ site.baseurl }}/halaman/java/fundamental/">Fundamental</a></li>
  <li><a href="{{ site.baseurl }}/halaman/java/jdbc/">JDBC</a></li>
  <li><a href="{{ site.baseurl }}/halaman/java/swing/">Java Swing</a></li>
  <li><a href="{{ site.baseurl }}/halaman/java/javafx/">JavaFX</a></li>
  <li class="divider"></li>
  <li><a href="{{ site.baseurl }}/halaman/java/apache/maven/">Apache Maven</a></li>
</ul>

<ul id="java-web" class="dropdown-content">
  <li><a href="{{ site.baseurl }}/halaman/java/jsp/">JSP &amp; Servlet</a></li>
  <li><a href="{{ site.baseurl }}/halaman/java/thymeleaf/">Thymeleaf</a></li>
</ul>

<ul id="web" class="dropdown-content">

</ul>

<ul id="framework" class="dropdown-content">
  <li><a href="{{ site.baseurl }}/halaman/framework/springframework/">Spring Framework</a></li>
  <li><a href="{{ site.baseurl }}/halaman/framework/hibernate/">Hibernate</a></li>
  <li><a href="{{ site.baseurl }}/halaman/framework/junit/">JUnit</a></li>
</ul>

<ul id="db" class="dropdown-content">
  <li><a href="{{ site.baseurl }}/halaman/db/oracle/">Oracle Database</a></li>
  <li><a href="{{ site.baseurl }}/halaman/db/postgresql/">PostgreSQL</a></li>
  <li><a href="{{ site.baseurl }}/halaman/db/mysql/">MySQL</a></li>
</ul>

<ul id="other-link" class="dropdown-content">
  <li><a href="{{ site.baseurl }}/halaman/java/html/">HTML</a></li>
  <li><a href="{{ site.baseurl }}/halaman/java/js/">JavaScript</a></li>
  <li><a href="{{ site.baseurl }}/halaman/java/css/">CSS</a></li>
  <li class="divider"></li>
  <li><a href="{{ site.baseurl }}/halaman/os/win10/">Windows 10</a></li>
  <li><a href="{{ site.baseurl }}/halaman/os/ubuntu/">UBuntu</a></li>
  <li><a href="{{ site.baseurl }}/halaman/os/fedora/">Fedora</a></li>
  <li class="divider"></li>
  <li><a href="{{ site.baseurl }}/halaman/vcs/git/">Git</a></li>
  <li class="divider"></li>
  <li><a href="http://personal.dimmaryanto93.com" target="_blank">Daftar Riwayat Hidup</a></li>
</ul>
