<div id="profile" class="hide-on-med-and-down">
  <p class="flow-text">{{ site.data.profile.status }}</p>
  <img id="picture_profile" src="/static/img/profile.png" alt=""
    class="responsive-img z-depth-5" width="150" height="150"/>
  <h3>{{ site.data.profile.nama }}</h3>
  <div>
    <p class="text-muted">
      {{ site.data.profile.messages }}
    </p>
  </div>
  <hr>
  <div id="halaman" class="flow-text">
    <h5>Kategori</h5>
    <ul class="collection">
      {% assign sorted_pages = (site.pages | sort: 'category') %}
      {% for page in sorted_pages %}
        {% if page.title and page.title != "Arsip" and page.active %}
          <li class="collection-item">
            <a href="{{ page.url }}" target="_self">
              {% if.page.icon %}
                <i class="{{ page.icon }} link-icon colored"></i>
              {% endif %}
              <small>
                {{ page.title }}
              </small>
              {% if page.new %}
              <span class="new badge" data-badge-caption="Halaman Baru!"></span>
              {% endif %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
