<div id="profile" class="hide-on-med-and-down">
  <p class="flow-text"><a href="{{ site.baseurl }}/">{{ site.data.profile.status }}</a></p>
  <img id="picture_profile" src="/static/img/profile.png" alt=""
    class="responsive-img z-depth-5" width="150" height="150"/>
  <h3>{{ site.data.profile.nama }}</h3>
  <div>
    <p class="text-muted">
      {{ site.data.profile.messages }}
    </p>
  </div>
  <div class="flow-text">
    <ul>
      <li>
        <a href="{{ site.baseurl }}/halaman/arsip/" class="waves-effect waves-light tooltipped" data-tooltip="Halaman Arsip">
          <i class="material-icons left">archive</i>
          <small>
            Arsip
          </small>
        </a>
      </li>
      <li>
        <a class="button-collapse tooltipped waves-effect waves-light"
          href="#!" data-activates="desktop" data-tooltip="Desktop Programming Language">
          <i class="material-icons left">computer</i>
          <small>
            Desktop Programming
          </small>
        </a>
      </li>
      <li>
        <a class="button-collapse tooltipped waves-effect waves-light"
          href="#!" data-activates="mobile" data-tooltip="Desktop Programming Language">
          <i class="material-icons left">smartphone</i>
          <small>
            Mobile Programming
          </small>
        </a>
      </li>
      <li>
        <a class="button-collapse tooltipped waves-effect waves-light"
        href="#!" data-activates="web" data-tooltip="Website Programming Language">
          <i class="material-icons left">public</i>
          <small>
            Web Programming
          </small>
        </a>
      </li>
      <li>
        <a class="button-collapse tooltipped waves-effect waves-light"
        href="#!" data-activates="framework" data-tooltip="Framework">
          <i class="material-icons left">settings</i>
          <small>
            Framework
          </small>
        </a>
      </li>
      <li>
        <a class="button-collapse tooltipped waves-effect waves-light"
        href="#!" data-activates="database" data-tooltip="Framework">
          <i class="material-icons left">data_usage</i>
          <small>
            Database
          </small>
        </a>
      </li>
      <li>
        <a class="button-collapse tooltipped waves-effect waves-light"
        href="#!" data-activates="other" data-tooltip="Lain-Lain (Tips &amp; Trick)">
          <i class="material-icons left">more_vert</i>
          <small>
            Lain-Lain
          </small>
        </a>
      </li>
    </ul>
  </div>
  <hr>
  <div id="halaman" class="flow-text">
    <h5>Kategori</h5>
    <ul class="collection">
      {% assign sorted_pages = (site.pages | sort: 'title') %}
      {% for page in sorted_pages %}
        {% if page.title and page.title != "Arsip" and page.active %}
          <li class="collection-item">
            <a href="{{ page.url }}" target="_self">
              {% if.page.icon %}
                <i class="{{ page.icon }} link-icon colored"></i>
              {% endif %}
              <small>
                {{ page.title }}
              </small>
              {% if page.new %}
              <span class="new badge" data-badge-caption="Halaman Baru!"></span>
              {% endif %}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
